.portrait {
	position:absolute;
	left:100px;
	top:35px;
}

.questions {
	position:absolute;
	left:420px;
	width:600px;
}

h1 {
	font-family: 'Muli', sans-serif;
}

h3 {
	font-family: 'Muli', sans-serif;
}